# python (django) settings
venv/
backend/media/
backend/src/config.*

.DS_Store
node_modules
/dist


# local env files
frontend/.env.local
frontend/.env.*.local
frontend/src/views/play.vue

# Log files
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
