# python (django) settings
backend/venv/
backend/src/config.*

.DS_Store
/dist


# local env files
frontend/node_modules
frontend/.env.local
frontend/.env.*.local

# vue js files
frontend/src/views/play.vue
frontend/src/assets/icons

# Log files
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
